@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Montserrat', sans-serif;
	color: #000;
	background: gray;
}
/* grid 980px */
.linha{
	width: 100%;
	max-width: 980px;
	margin: auto;
	overflow: auto;
}
.coluna{
	padding: 0 10px;
	float: left;
}
.col1{
	width: 60px;
}
.col2{
	width: 140px;
}
.col3{
	width: 220px;
}
.col4{
	width: 300px;
}
.col5{
	width: 380px;
}
.col6{
	width: 460px;
}
.col7{
	width: 540px;
}
.col8{
	width: 620px;
}
.col9{
	width: 700px;
}
.col10{
	width: 780px;
}
.col11{
	width: 860px;
}
.col12{
	width: 940px;
}
h1{
	font-size: 2rem;
	font-weight: 700;
}
p{
	font-size: 1.2rem;
	padding: 3% 0;
}
a{
	text-decoration: none;
}
.sem-padding{
	padding: 0 !important;
}
.sem-margin{
	margin: 0 !important;
}
ul li, ol li{
	margin-bottom: 5px;
}
ul.inline li, ol.inline li{
	display: inline;
}
ul.sem-marcador, ol.sem-marcador{
	list-style: none;
}
.botao{
	text-decoration: none;
	font-size: 1.25rem;
	box-shadow: 0px 0px 10px #000;
	background: #e52e3b;
	color: #fff;
	margin-top: 5%;
	display: inline-block;
}
img{
	max-width: 100%;
	height: auto;
}
.header{
	background: #fff;
	font-size: 14px;
	position: sticky;
	top: 0;
}
.menu{
	text-transform: uppercase;
	text-align: auto;
	margin-top: 35px;
}
.menu li a{
	color: #000;
	text-decoration: none;
	padding: 0px 15px;
	border-radius: 3px;
}
.pos-header{
	background: #fff;
	height: 80vh;
}
.pos-header img{
	padding-left: 30px;
}
.pos-header .botao{
	padding: 5px 20px;
	border-radius: 99px;
}
.about, .about hr{
	background: #e52e3b;
	color: #fff;
}
.inicio-bloco{
	margin-top: 5%;
}
.fim-bloco{
	margin-bottom: 5%;
}
.icones{
	text-align: center;
}
.icones h2{
	font-size: 90px;
	margin: 0px;
}
.icones h3{
	font-size: 30px;
}
.about h1{
	font-size: 60px;
	color: #e52e3b;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.services{
	text-align: center;
	background: #fff;
	color: #e52e3b;
}
.services .linha.icones .coluna{
	width: 176px;
	height: auto;
}
.services h1{
	font-size: 60px;
	margin-top: 0;
	color: #fff;
	text-shadow: 2px 0 0 #e52e3b, -2px 0 0 #e52e3b, 0 2px 0 #e52e3b, 0 -2px 0 #e52e3b, 1px 1px #e52e3b, -1px -1px 0 #e52e3b, 1px -1px 0 #e52e3b, -1px 1px 0 #e52e3b;
}
.idea{
	background: #e52e3b;
	color: #fff;
}
#side-img{
	padding-top: 30%;
}
.blog{
	background: #fff;
	color: #e52e3b;
}
.blog img{
	width: 100%;
	height: 200px;
}
.blog h1{
	margin: 0 0 50px 0;
}
.bloco-blog{
	text-align: center;
	color: #fff;
	height: 110px;
	padding: 20px;
	margin-top: 20px;
	background: #e52e3b;
	border-radius: 0 0 30px 0;
}
.bloco-blog p{
	font-size: 15px;
}
.blog a h1{
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
	margin: 0;
}
.blog .botao{
	padding: 5px 13px;
	border-radius: 2px;
}
.ver-sb{
	font-size: 60px;
	font-weight: bold;
	color: #e52e3b
}
.bra-cb{
	font-size: 60px;
	font-weight: bold;
	color: #fff;
	text-shadow: 2px 0 0 #e52e3b, -2px 0 0 #e52e3b, 0 2px 0 #e52e3b, 0 -2px 0 #e52e3b, 1px 1px #e52e3b, -1px -1px 0 #e52e3b, 1px -1px 0 #e52e3b, -1px 1px 0 #e52e3b;
}

.contact{
	background: #3d3d3d;
	height: 200px;
	color: #fff;
}
.contact p{
	padding-top: 75px;
	text-align: right;
	font-size: 16px;
	color: #fff;
}
.contact img{
	padding-top: 75px;
	width: 55%;
}
.footer{
	background: #fff;
	color: #3d3d3d;
}
.footer p{
	font-size: 16px;
	margin: 0;
	padding: 0;
}